<%- include('header') -%>
    <div class="jumbotron">
        <h1>Here is all Comments on Makeup!</h1>
        <p>See people's recommendations on Swatching!</p>
        <p>Hope others' shopping experience will be very helpful to you!</p>
    </div>


    <ol>

      <% for(var i=0; i<swatches.length; i++) { %>
        <li>
          <i>
          Makeup: <%= swatches[i].TypeMakeup %></\/i>
          <br>
          <i>
          Color: <%= swatches[i].ColorCode %></\/i>
         </li>
      <% } %>
    </ol>

    <%- include('footer') -%>
